body{
	margin: 0 auto;
	padding: 0;
	font-family: Tahoma, Arial, Helvetica;
	font-size: 14px;
	color: #fff;
	background-color:#303040;
}

.v1 {
	font: normal 1.2em Tahoma, Sans-Serif; color: #fff;
}

.v2 {
	font: normal 1.4em Tahoma, Sans-Serif; color: #fff;
}

.v3 {
	font: normal 2.5em Tahoma, Sans-Serif; color: #fff;
}

.v4 {
	font: normal 1.5em Tahoma, Sans-Serif; color: #fff;
}

.clear {
	clear: both;
}

.divpage {
	margin:0;
	width: 100%;
	margin-bottom:10em;
}

.content {
	text-align:left;
	width: 90%;
	max-width:980px;
	margin:0 auto;
}

input {
	border:none;
	padding:0.2em;
	font-size:1.2em;
	background-color:#e0e0f0;
}

div.divbar {
	position:relative;
	top:0;
	display:inline-block;
	background-color:#404050;
	margin:0;
/*	margin:2em 0 2em 0;*/
	padding:2px;
	border: solid 1px #505060;
	padding:8px;
	transition:0.3s;
}

div.divbar a{
	color:#fff;text-decoration:none;
}

div.divbar a:hover{
	text-decoration:underline;
}

div.divbarleft {
	color:#ccc;
}

div.divbarlogin {
/*	right:0;
	float:right;*/
/*	position:absolute;
	right:0;
	top:0;*/
/*	background-color: #ff0;*/
}

div#ScanBarcodesBtn {
	border: solid 1px #505060;
	text-align: center;
	padding:5px;
	visibility:hidden;
	width:20em;
}

div#ScanBarcodesBtn:hover {
	background-color: #889;
	cursor:pointer;
}


/*menu*/
div.menubar {
	position:relative;
	background-color:#404050;
	margin:1em 0 1em 0;
	padding:2px;
	border: solid 1px #505060;
}

.menubar ul {
	list-style-type: none;
	margin:0;
/*	margin-top:10px;*/
	padding:0;
}

.menubar li {
	width:150px;
	margin:0;
	padding:2px;
	float:left;
	font-size:14px;
	text-align:center;
	border-right:1px solid #505060;
}

.menubar li:hover {
	color: #fff;
	background: #889;
	cursor:pointer;
}

.menubar li a {
	color: #fff;
	text-decoration:none;
}

/*.menubar li#active {
	background:darkslateblue;
	color:#fff;
	text-decoration:none;
}*/
/*end menu*/

div#status {
	text-align:left;
	width: 50%;
	max-width:600px;
	margin:0 auto;
}


.popupwnd {
	position:absolute;/*fixed;*/
	z-index:1001;
	background: #505060;
	/*left:100px;
	top:100px;*/
	border: solid 1px #606070;
	text-align:left;
	padding:5px;
	overflow:hidden;
	opacity: 1;
	display:none;/*none;*/
}

.groupbox {
	border: solid 1px #ccc;
	padding:0.7em;
}

.popupwnd#BarcodeSettings input[type='text'] {
	width:2em;
}

.popupwnd#ScannerSettings input[type='text'] {
	width:4em;
}

.popupwnd#ScannerSettings table {
    border-collapse: separate;
    border-spacing: 7px;
}

div#WebSDKExamples a{
	background-color:#404050;
	padding:0.4em;
	border: solid 1px #606070;
	color: #fff;
	text-decoration:none;
	transition: .2s;
	font-size:1.4em;
	display:inline-block;
	margin:0.1em;
	width:15em;
}

div#WebSDKExamples a:hover{
	background-color:#889;
	border: solid 1px #404050;
}

/* on-off start */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input[type='range'].slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius:0;
    background: #505060;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type='range'].slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius:0;
    background: #2196F3;
    cursor: pointer;
}

input[type='range'].slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius:0;
    background: #2196F3;
    cursor: pointer;
}
/* on-off stop */
